# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# CUSTOM MADE - PREVENTS UNNEEDED FILES BEING COMMITTED/PUSHED
# =========================

# Test files
tests/test.py

# Txt Files
*.txt
*.log

# Google API credentials
token.json
Google API key.rtf
credentials-sheets.json
quickstart.py
token-drive.pickle
token-sheets.pickle
credentials.json

# xlsx files
*.xlsx
*.xlsx#

# .docx files
*.docx

# image files
*.png
*.jpg

# PDF files
*.pdf

# END OF CUSTOM SECTION
# =========================

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk